/* Resume Modal */
.modal0 {
    /* background-color: (0,0,0,0.8); */
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal0--hidden{
    display: none;
}

.modal0_contents {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background-color: slategray; */
    /* padding: 2rem 4rem; */
    /* width: 60%;
    height: 90%; */
    /* position: relative; */
    justify-items: center;
    /* border: 3px dotted black; */
}

.my-resume {
    display: flex;
    height: 90%;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.resume-btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.resume-btn:hover {
    /* transform: translateY(-10px) translateX(-10px); */
    color:steelblue;
    transition: 0.2s ease;
    cursor: pointer;
}

#xr-btn {
    display: flex;
    border: 5px solid black;
    padding: 10px;
}

#xr-btn:hover {
    color: red;
    cursor: pointer;
}

/* css for modal-card-1 */
.modal {
    /* background-color: (0,0,0,0.8); */
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal--hidden{
    display: none;
}

.modal_contents {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background-color: slategray; */
    /* padding: 2rem 4rem; */
    width: 60%;
    height: 50%;
    position: relative;
    justify-items: center;
}
#x-btn{
    display: flex;
}
#x-btn:hover {
    cursor: pointer;
    color: red;
}
.gif-container{
    overflow:hidden;
    display:flex;
    justify-items: center;
    align-items: center;
}
.gif-container iframe {
    border: 0;
    height: 80%;
    width: 100%;
    position: absolute;
    display:flex;
    left:0;
    bottom: 0;
    padding-bottom: 10px;
}



/* Model2 */
.modal2 {
    /* background-color: (0,0,0,0.8); */
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal2--hidden{
    display: none;
}

.modal2_contents {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background-color: slategray; */
    /* padding: 2rem 4rem; */
    width: 60%;
    height: 50%;
    position: relative;
    justify-items: center;
}
#x-btn2{
    display: flex;

}
#x-btn2:hover {
    cursor: pointer;
    color: red;
}
.gif-container2{
    overflow:hidden;
    display:flex;
    justify-items: center;
    align-items: center;
}
.gif-container2 iframe {
    border: 0;
    height: 80%;
    width: 100%;
    position: absolute;
    display:flex;
    left:0;
    bottom: 0;
    padding-bottom: 10px;
}

/* model 3 */
.modal3 {
    /* background-color: (0,0,0,0.8); */
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal3--hidden{
    display: none;
}

.modal3_contents {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background-color: slategray; */
    /* padding: 2rem 4rem; */
    width: 60%;
    height: 50%;
    position: relative;
    justify-items: center;
}
#x-btn3{
    display: flex;

}
#x-btn3:hover {
    cursor: pointer;
    color: red;
}
.gif-container3{
    overflow:hidden;
    display:flex;
    justify-items: center;
    align-items: center;
}
.gif-container3 iframe {
    border: 0;
    height: 80%;
    width: 100%;
    position: absolute;
    display:flex;
    left:0;
    bottom: 0;
    padding-bottom: 10px;
}